@media (min-width: 768px) {
  .container {
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }
}

.container{
  font-family: Bahnschrift;
  color: #707070;
  animation: entrance .5s;
}

/* header styling */
.clinic-name h1{
  font-family: Bebas Neue;
  font-size: 50px;
}
.header-details{
  margin-top: 3%;
}

/* templates */
.templates {
  margin-top: 3%;
}

#templates-selection{
  text-align: center;
  width: 40%;
  border: 1px solid #707070;
  padding: .5% 0;
}
.use-template-btn{
  border: 1px solid #32d800;
  border-radius: 0;
  width: 15%;

  margin-left: 1%;
  padding: .5% 0;
}

/* inquiry content */
.inquiry-content{
  margin-top: 3%;
}

#input-area{
  font-family: Calibri;
  font-size: 16px;
  width: 80%;
  height: 300px;
  padding: 1%;

  overflow-y: scroll;
  resize: none;
}

.submit{
  width: 60%;
  margin-top: 2%;
}

.submit-btn{
  padding: 1% 0;
  width: 40%;
  margin-left: 45%;
}

/* buttons general styling */
.buttons{
  font-family: Bahnschrift;
  font-size: 15px;
  font-weight: 700;

  background-color: transparent;
  border: 3px solid #32D800;
  border-radius: 10px;
  transition: background-color .3s, color .3s;
}

.buttons:hover{
  background-color: #32d800;
  color: white;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
