<app-navbar></app-navbar>
<div class="container">
  <div class="clinic-name">
    <h1>CLINIC NAME</h1>
  </div>
  <div class="header-details">
    <h3>CREATE AN INQUIRY</h3>
  </div>
  <div class="templates">
    <select name="templates" id="templates-selection">
      <option value="placeholder">--TEMPLATES--</option>
      <option value="">Who are the doctors?</option>
      <option value="">What machines do you have?</option>
      <option value="">Do you offer laboratory tests?</option>
    </select>
    <button class="use-template-btn">Use Template</button>
  </div>
  <div class="inquiry-content">
    <textarea name="text-input" id="input-area"></textarea>
  </div>
  <div class="submit">
    <button class="submit-btn">SUBMIT INQUIRY</button>
  </div>
</div>