<app-navbar></app-navbar>
<div class="container">
  <div class="clinic-name">
    <h1>{{ inquiryService.heading }}</h1>
  </div>
  <div class="header-details">
    <h3>CREATE AN INQUIRY</h3>
  </div>

  <div class="templates">
    <select name="templates" id="templates-selection" #templateSelecton>
      <option value="" disabled selected hidden>--TEMPLATES--</option>
      <option value="{{ template.id }}" *ngFor="let template of templates">{{ template.content }}</option>
    </select>
    <button class="use-template-btn buttons" (click)="useTemplate(templateSelecton.value)">USE TEMPLATE</button>
  </div>

  <form (ngSubmit)="inquiryService.makeInquiry(inquiryForm)" #inquiryForm="ngForm">
    <div class="inquiry-content">
      <textarea name="textInput" id="input-area" [(ngModel)]="templateFill" ngModel required placeholder="Enter text here..."></textarea>
    </div>
    <div class="submit">
      <input type="submit" value="SUBMIT INQUIRY" class="submit-btn buttons">
    </div>
  </form>
</div>
