<div class="notifs-container">
  <h1>NOTIFICATIONS</h1>
  <p>Your notifications are listed here.</p>
  <hr>

  <div class="notifications">
    <div *ngFor="let notif of notifService.notifications" class="notification">
      <h4>
        <span class="notif-date">{{ notif.date.substring(0, 10) }} {{ notif.date.substring(11, 16) }}</span>
        <span class="notif-content">{{ notif.content }}</span>
      </h4>
    </div>
  </div>
</div>
<app-mobile-navbar></app-mobile-navbar>
<app-navbar></app-navbar>
