@media (min-width: 768px) {
  .messages-container{
      margin-left: 20%;
      margin-right: 5%;
  }

  #message-recipient{
      font-size: 15px;
  }
  #message-content{
      font-size: 20px;
  }
  .message-date{
      margin-right: 2%;
      margin-top: 1%;
  }
  #message-date{
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  .messages-container{
      margin: 0 3%;
      margin-top: 15%;
  }

  #message-recipient{
      font-size: 13px;
  }
  #message-content{
      font-size: 16px;
  }
  .message-date{
      margin-right: 2%;
      margin-top: 2%;
  }
  #message-date{
      font-size: 15px;
  }
}

.messages-container{
  font-family: Bahnschrift;
  color: #151515;

  animation: entrance .5s;
}

/* messages header contents */
.messages-header-title h1{
  font-family: Bebas Neue;
  font-size: 50px;
}

/* messages navigation */
.messages-navigation{
  display: flex;
  flex: row;
}

.messages-navigation button{
  margin: 2% 2%;
}

.nav-button{
  background-color: transparent;
  border: none;

  font-family: Bahnschrift;
  font-weight: 600;
  font-size: large;
  color: #151515;
  transition: color .3s;
}

.nav-button:hover{
  color: #023E8A;
  cursor: pointer;
}

/* messages inbox container */
.inbox-container{
  border: 1px solid #151515;
  height: 400px;
  overflow-y: scroll;
}
/* messages preview */
.div-width-100{
  width: 100%;
  margin: 0;
}
.message{
  position: relative;
  width: 100%;
  border-bottom: solid 1px #151515;

  font-family: Bahnschrift;
}
a{
  display: flex;
  flex-flow: row;

  text-decoration: none;
}
a:hover{
  cursor: pointer;
}

li{
  display: inline-block;
  text-decoration: none;
}
.message-info{
  color: #151515;
  transition: .3s;
}
.message-info:hover{
  color: #023E8A;
}
#message-content{
  font-weight: 600;
}
.message-date{
  float: right;

  color: #023E8A;
}

@keyframes entrance {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
