@media (min-width: 768px) {
  .appointment-container {
    margin-left: 20%;
  }

  .appointment-container h1 {
    font-size: 50px;
  }

  .information-container {
    text-align: center;
    display: flex;
  }

  .clinic-container {
    margin-right: 3%;
    height: 550px;
    width: 25%;
    border: 1px solid #707070;
  }

  .appointment-details {
    height: 550px;
    width: 65%;
  }
}

@media (max-width: 768px) {
  .appointment-container {
    margin: 0 3%;
    margin-top: 15%;
  }

  .appointment-container h1 {
    font-size: 50px;
  }

  .information-container {
    display: block;
  }

  .clinic-container {
    margin-right: 3%;
    height: 550px;
    width: 100%;
    border: 1px solid #707070;
  }

  .appointment-details {
    height: 550px;
    width: 100%;
  }
}

.appointment-container {
  margin-bottom: 5%;
  font-family: Bahnschrift;
  color: #707070;
  animation: entrance .5s;
}

.appointment-container h1 {
  font-family: "Bebas Neue";
}

.information-container {
  width: 95%;
  margin-top: 3%;
  border: 1px solid #707070;
  background-color: #353535;
}

.image-container {
  border-bottom: 1px solid #353535;
  height: 40%;
  width: 100%;
}

.clinic-details {
  height: 60%;
  width: 100%;
  text-align: center;
}

.appointment-status {
  text-align: center;
  padding: 5%;
}

.appointment-details h2 {
  color: white;
}

.highlight {
  color: #48CAE4;
}

.rejected {
  color: #EF0000;
}

.user-details {
    text-align: center;
}

.information h3 {
  color: white;
}

.reschedule-appointment, .cancel-appointment {
  display: none;
  text-align: center;
  margin-top: 30%;
}

#reschedule-form {
  width: 40%;
  margin: 3% 30%;
  font-family: Bahnschrift;
  color: #707070;
}

.buttons-container {
  margin-top: 5%;
  text-align: center;
}

.request-change {
  width: 30%;
  max-width: 30%;
  margin: 2%;
  font-family: Bahnschrift;
  font-weight: 700;
  font-size: 15px;
  color: white;
  padding: 2%;

  background-color: transparent;
  border: 2px solid #48CAE4;
  border-radius: 10px;
  transition: background-color .3s, color .3s;
}

.request-change:hover {
  background-color: #48CAE4;
  color: white;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
