<div class="appointments-container">
  <div class="appointments-header">
    <h1>MY APPOINTMENTS</h1>
    <p>Your appointments are listed below.</p>
  </div>

  <div class="all-appointments-container">
    <div class="appointment" *ngFor="let appointment of appointmentService.appointments">
      <a routerLink="/appointments/{{ appointment.id }}">
        <div class="appointment-details">
          <h4 *ngIf="appointment.date == null">PENDING APPOINTMENT: {{ appointment.doctor }}</h4>
          <h4 *ngIf="appointment.date != null">APPOINTMENT WITH: {{ appointment.doctor }}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
