@media (max-width: 768px) {
  .all-appointments-container {
    width: 100%;
  }
  .appointments-container{
    margin: 0 3%;
    margin-top: 15%;
  }
}

@media (min-width: 768px) {
  .appointments-container {
    margin-left: 20%;
  } 

  .appointments-header h1 {
    font-size: 50px;
  }

  .all-appointments-container {
    width: 80%;
  }
}

.appointments-container {
  font-family: Bahnschrift;
  color: #707070;
  animation: entrance .5s;
}

.appointments-header h1{
  font-family: "Bebas Neue";
}

.all-appointments-container {
  margin-top: 3%;
  height: 450px;
  border: solid 1px #707070;
  overflow-y: scroll;
}

.all-appointments-container a {
  color: #707070;
  text-decoration: none;
}

.appointment {
  width: 100%;
  border-bottom: solid 1px #707070;
  transition: color .3s;
  text-align: center;
}

#pending {
  color: #EF9400;
}

#approved {
  color: #0BAC11;
}

#rejected {
  color: #EF0000;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
