<div class="clinic-container">
  <div class="clinic-description">
    <h1>{{ clinicService.clinic.name }}</h1>
    <a routerLink="/clinics"><h4>RETURN TO CLINICS PAGE</h4></a>
  </div>

  <div class="clinic-details">
    <div class="clinic-image"></div>
    <div class="clinic-schedules">
      <h2>OPERATING HOURS</h2>
      <h3>{{ clinicService.clinic.operationStart }} - {{ clinicService.clinic.operationEnd }}</h3>
      <h3>{{ clinicService.clinic.startDay }} - {{ clinicService.clinic.endDay }}</h3>
      <hr>
      <h2>CONTACT</h2>
      <h3>{{ clinicService.clinic.contact }}</h3>
      <h3>{{ clinicService.clinic.email }}</h3>
    </div>
  </div>

  <div class="clinic-interactions">
    <button class="interactions-btn" (click)="makeAppointment()">MAKE APPOINTMENT</button>
    <button class="interactions-btn" (click)="makeInquiry()">MAKE INQUIRY</button>
  </div>

  <div class="clinic-general-description">
    <p>{{ clinicService.clinic.description }}</p>
  </div>

  <div class="clinic-additional-information">
    <h2>ADDITIONAL INFORMATION</h2>
    <hr>
    <div class="address-container">
      <h3>ADDRESS</h3>
      <p>{{ clinicService.clinic.address }}</p>
    </div>

    <div class="staff-container">
      <h3>STAFF</h3>
      <div *ngFor="let member of clinicService.staff" class="staff-info">
        <p>{{ member.role}} {{ member.user }}</p>
        <ul *ngFor="let specialty of member.specialization">
          <li>{{ specialty }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
