@media (max-width: 768px) {
  .clinic-container {
    margin: 3% 3%;
  }
}

@media (min-width: 768px) {
  .clinic-container {
    margin-left: 25%;
  }

  .clinic-description h1{
    font-size: 50px;
  }
}

.clinic-description h1, h4 {
  font-family: Bebas Neue;
  color: #707070;
}

.clinic-description h4 {
  font-size: 20px;
  font-weight: 500;
}

.clinic-details {
  display: inline;
}

.clinic-image {
  border: 2px solid #707070;
  height: 300px;
  width: 60%;
}

.clinic-schedules {
  background-color: #353535;
  height: 300px;
  width: 20%;
}
