<div class="clinic-container">
  <div class="clinic-description">
    <h1>{{ clinicService.clinic.name }}</h1>
    <a routerLink="/clinics"><h4>RETURN TO CLINICS PAGE</h4></a>
  </div>

  <div class="clinic-details">
    <div class="clinic-image"></div>
    <div class="clinic-schedules">
      <h2>OPERATING HOURS</h2>
      <h3>{{ clinicService.clinic.operationStart }} - {{ clinicService.clinic.operationEnd }}</h3>
      <h3>{{ clinicService.clinic.startDay }} - {{ clinicService.clinic.endDay }}</h3>
      <hr>
      <h2>CONTACT</h2>
      <h3>{{ clinicService.clinic.contact }}</h3>
      <h3>{{ clinicService.clinic.email }}</h3>
    </div>
  </div>

  <div class="clinic-general-description">
    <p>{{ clinicService.clinic.description }}</p>
  </div>

  <div class="clinic-interactions">
    <button class="interactions-btn">MAKE APPOINTMENT</button>
    <button class="interactions-btn">MAKE INQUIRY</button>
  </div>
</div>
<app-navbar></app-navbar>
