<div class="mobile-navbar-container">
  <div class="navbar-toggle">
    <h4 (click)="showDropdown()">OPTIONS</h4>
  </div>

  <div class="pages">
    <nav class="navbar-links" id="options">
      <h2 class="nav-link" routerLink="/appointments">MY APPOINTMENTS</h2>
      <h2 class="nav-link" routerLink="/notifications">NOTIFICATIONS</h2>
      <h2 class="nav-link" routerLink="/clinics">CLINICS</h2>
      <h2 class="nav-link" routerLink="/messages">MESSAGES</h2>
      <h2 class="nav-link" routerLink="/account">ACCOUNT</h2>
      <h2 class="nav-link" (click)="loginService.signOut('patient')">SIGN OUT</h2>
    </nav>
  </div>
</div>
