<div class="mobile-navbar-container">
  <div class="navbar-toggle">
    Links
  </div>

  <div class="pages">
    <nav class="navbar-links">
      <div class="page-link" routerLink="/appointments">MY APPOINTMENTS</div>
      <div class="page-link" routerLink="">NOTIFICATIONS</div>
      <div class="page-link" routerLink="/clinics">CLINICS</div>
      <div class="page-link" routerLink="/messages">MESSAGES</div>
      <div class="page-link" routerLink="">ACCOUNT</div>
      <div class="page-link" (click)="loginService.signOut()">SIGN OUT</div>
    </nav>
  </div>
</div>
