/* body styling for full screen(no white spaces on the sides) */
body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* First content of main page before login */
div.div1{
    position: relative;
    font-family: Bahnschrift;
    background-image: url(./homeDiv1Background.png);
    background-size: cover;

    margin: -.6%;
    left: 0;
    top: 0;

    padding-bottom: 15%;
    margin-top: -5%;
}

div.div1Content{
    padding-top: 15%;
    padding-left: 7%;
    color: #fff;
}
h1.div1Content1{
    font-family: Bebas Neue;
    font-size: 5em;
}
h3.div1Content2{
    position: relative;
    bottom: 4vw;
}
span.now{
    color: #32D800;
}
button.signUpButton{
    position: relative;
    bottom: 3vw;
    padding: .5em 4.5em;

    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: 700;

    border: solid;
    border-radius: 8px;
    border-color: #32D800;
    background-color: transparent;
}
button.signUpButton:hover{
    background-color: #32D800;
}


/* Second Cotent of main page before login */
div.div2{
    position: relative;
    margin: -.6%;
    display: flex;
    flex-direction: row;

    padding-top: 10%;
    padding-bottom: 10%;

    color: #707070;
}
div.div2 > * {
    flex-basis: 100%;
    padding: 5%;
}
div.div2TextTitle{
    font-family: Bebas Neue;
}
div.div2TextContent{
    font-family: Poppins;
}
div.div2Content{
    text-align: center;
    border: solid;
    border-color: #353535;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

/* mobile responsive design */
@media (max-width: 768px){
    body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    /* First content of main page before login */
    div.div1{
        background-position: right;
    }
    h1.div1Content1{
        font-size: 4em;
    }
    h3.div1Content2{
        font-size: small;
        font-weight: lighter;
    }

    /* Second Cotent of main page before login */
    div.div2Content{
        display: none;
    }
}