<div class="container">
    <div class="content-1">
        <app-main-header></app-main-header>
        <div class="content-1-details">
            <h1>MAKE AN APPOINTMENT <span class="now">NOW</span>.</h1>
            <h3>MEDICAL APPOINTMENTS MADE EASIER, AND MORE ACCESSIBLE.</h3>
            <button class="signup-btn" id="sign-up" (click)="signUp()">SIGN UP</button>

            <div id="portals">
              <button class="portal-button" routerLink="/signUp/patient">PATIENT SIGN-UP</button>
              <button class="portal-button" routerLink="/signUp/staff">STAFF SIGN-UP</button>
            </div>
        </div>
    </div>

    <div class="content-2">
        <div class="content-2-details">
            <div class="content-2-title">
                <h1>YOU ARE OUR PRIORITY</h1>
            </div>
            <div class="content-2-subtitle">
                <p>
                    Our services were made with the concept of making medical appointments easier to access.
                </p>
                <p>
                    Especially now that we are faced with the CoVid-19 pandemic, we are in need of services 
                    that enable us to make medical appointments without the necessity of close contact.
                </p>
            </div>
        </div>
        <div class="content-2-image"></div>
    </div>
</div>
<app-main-footer></app-main-footer>
