/* body styling for full screen(no white spaces on the sides) */
.container{
    position: relative;
    width: 100.6%;
    height: 100.6%;
    margin: -.6% -.6%;
}

button{
    transition: 0.3s;
}

/* First content of main page before login */
.content-1{
    position: relative;
    font-family: Bahnschrift;
    background-image: url(./homeDiv1Background.png);
    background-size: cover;

    padding-bottom: 15%;
}

.content-1-details{
    padding-top: 15%;
    padding-left: 7%;
    color: #fff;
}
.content-1 h1{
    font-family: Bebas Neue;
    font-size: 5em;
}
.content-1 h3{
    position: relative;
    bottom: 4vw;
}
.now{
    color: #32D800;
}
.signup-btn{
    position: relative;
    bottom: 3vw;
    padding: .5em 4.5em;

    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: 700;

    border: solid;
    border-radius: 8px;
    border-color: #32D800;
    background-color: transparent;
}
.signup-btn:hover{
    background-color: #32D800;
}


/* Second Cotent of main page before login */
.content-2{
    position: relative;
    margin: -.6%;
    display: flex;
    flex-direction: row;

    padding-top: 10%;
    padding-bottom: 10%;

    color: #707070;
}
.content-2 > * {
    flex-basis: 100%;
    padding: 5%;
}
.content-2-title{
    font-family: Bebas Neue;
}
.content-2-subtitle{
    font-family: Poppins;
}
.content-2-image{
    text-align: center;
    border: solid;
    border-color: #353535;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

/* mobile responsive design */
@media (max-width: 768px){
    body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    /* First content of main page before login */
    .content-1{
        background-position: right;
    }
    .content-1 h1{
        font-size: 4em;
    }
    .content-2 h3{
        font-size: small;
        font-weight: lighter;
    }

    /* Second Cotent of main page before login */
    .content-2-image{
        display: none;
    }
}