<div class="body">
    <div class="div1">
        <div class="div1Content">
            <h1 class="div1Content1">MAKE AN APPOINTMENT <span class="now">NOW</span>.</h1>
            <h3 class="div1Content2">MEDICAL APPOINTMENTS MADE EASIER, AND MORE ACCESSIBLE.</h3>
            <button class="signUpButton">SIGN UP</button>
        </div>
        <app-main-header></app-main-header>
    </div>
    <div class="div2">
        <div class="div2Text">
            <div class="div2TextTitle">
                <h1>YOU ARE OUR PRIORITY</h1>
            </div>
            <div class="div2TextContent">
                <p class="div2TextContent1">
                    Our services were made with the concept of making medical appointments easier to access.
                </p>
                <p class="div2TextContent2">
                    Especially now that we are faced with the CoVid-19 pandemic, we are in need of services 
                    that enable us to make medical appointments without the necessity of close contact 
                </p>
            </div>
        </div>
        <div class="div2Content">
            
        </div>
    </div>
</div>