<div class="container">
  <div class="header">
    <h1>MESSAGE</h1>
    <p>Below are the contents of the message received from {{ messageService.message.sender }}.</p>
  </div>
  <div class="details">
    <p *ngIf="messageService.messageType == 'receive'">SENDER: {{ messageService.message.sender }}</p>
    <p *ngIf="messageService.messageType == 'sent'">RECIPIENT: {{ messageService.message.recipient }}</p>
    <p>DATE SENT: {{ messageService.message.date.substring(0, 10) }}</p>
    <p>TIME SENT: {{ messageService.message.date.substring(11, 16) }}</p>
    <hr>
  </div>
  <div class="message-content-container">
    <div class="message-content">
      <p>{{ messageService.message.content }}</p>
    </div>
  </div>
  <div class="reply">
    <button class="reply-btn" (click)="reply()" *ngIf="messageService.messageType == 'receive'">REPLY</button>
  </div>
</div>
<app-mobile-navbar></app-mobile-navbar>
<app-navbar></app-navbar>
