.container{
  margin-left: 20%;
  margin-right: 5%;
  position: relative;

  font-family: Bahnschrift;
  color: #707070;
}

/* header */
.header h1{
   font-size: 50px;
   font-family: Bebas Neue;
}

/* details/subheader */
.details{
  margin-top: 5%;
  font-weight: 700;
}

/* message content */
.message-content{
  overflow-y: scroll;
  height: 300px;
}

/* reply btn */
.reply{
  margin-bottom: 20%;
  margin-top: 1%;
}
.reply-btn{
  float: right;
  margin-right: 2%;

  border: 3px solid #32d800;
  border-radius: 10px;
  color: #707070;
  padding: 1% 3%;
}
.reply-btn:hover{
  background-color: #32d800;
  color: #fff;
}

@media(max-width: 768px){
  .container{
    margin: auto;
  }
  .reply{
    margin-bottom: 20%;
  }
}