@media (max-width:768px){
  .sign-up-container {
    display: block;
    margin-top: -3%;
    margin-left: -2.5%;
    width: 104.8%;
  }

  .sign-up-form {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
  }

  .featured-image {
    display: none;
  }

  .sign-up-form{
    width: 100%;
  }
}

@media (min-width:768px){
  .sign-up-container {
    display: flex;
    width: 101.5%;
    margin-left: -1%;
    margin-top: -1%;
  }

  .featured-image {
    margin-top: 20%;
    width: 50%;
  }

  .container-content {
    margin: 0 3%;
  }

  .textfield {
    width: 60%;
  }

  .sign-up-form {
    margin-top: 2%;
    padding: 1%;
    width: 30%;
  }
}

.sign-up-container {
  padding-bottom: 10%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: #2A3235;
  font-family: Bahnschrift;
  color: white;
}

.featured-image {
  margin-top: 20%;
  text-align: center;
  animation: colorTitle .5s;
  animation-fill-mode: forwards;
}

.sign-up-form {
  text-align: center;
  font-family: Poppins, Bahnschrift;
  background-color: #151515;
  animation: formEntrance .5s;
  animation-fill-mode: forwards;
}

.sign-up-form hr {
  margin: 0 3%;
}

.textfield {
  height: 30px;
  background-color: #303030;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.radio-button {
  margin: 1% 1%;
}

.button-container {
  margin-top: 10%;
  margin-bottom: 5%;
}

.button-container button, .button-container input{
  border: 2px solid #32d800;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-weight: 700;

  height: 50px;
  width: 40%;;
  transition: background-color .3s;
}

.button-container button:hover, .button-container input:hover {
  background-color: #32d800;
}

#secondary-values {
  display: none;
}

#birth {
  border: none;
  border-bottom: 1px solid white;
  background-color: #303030;
  color: white;
  font-family: Bahnschrift;
}

@keyframes formEntrance {
  0% {
    opacity: 0;
    margin-left: -2%;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
