@media (max-width:768px){

}

@media (min-width:768px){
  .register-container{
    margin-left: 20%;
    animation: entrance .5s;
    animation-fill-mode: forwards;
  }

  .register-container h1{
    font-size: 50px;
  }

  .form-container {
    margin-bottom: 5%;
  }

  .longtext {
    width: 40%;
  }

  #clinic-description {
    height: 200px;
  }

  #submit-button {
    height: 40px;
    width: 20%;
  }
}


.register-container{
  font-family: Bahnschrift;
  color: #707070;
}

.register-container h1 {
  font-family: "Bebas Neue", Bahnschrift;
}

.register-container hr {
  margin-right: 3%;
}

.form-container h2 {
  font-family: Bahnschrift;
}

#clinic-description {
  width: 80%;
  overflow-y: scroll;
  resize: none;
}

#submit-button {
  border: 2px solid #0EAFE9;
  border-radius: 10px;
  background-color: transparent;
  color: #232E21;
  font-weight: 700;
  transition: background-color .3s, color .3s;
}

#submit-button:hover {
  background-color: #0EAFE9;
  color: white;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
