<div class="appointment-management-container">
  <h1>MANAGE APPOINTMENT</h1>
  <p>You can approve or reject appointments made by patients here.</p>
  <hr>

  <div class="appointment-details">
    <h1>THIS APPOINTMENT IS
      <span *ngIf="appointmentService.appointment.status == 'Approved'
                   || appointmentService.appointment.status == 'Pending'; else alternative">
        CURRENTLY {{ appointmentService.appointment.status.toUpperCase() }}.
      </span>
    </h1>

    <ng-template #alternative>
      <span>{{ appointmentService.appointment.status.toUpperCase() }}.</span>
    </ng-template>


    <h2>APPOINTMENT DETAILS</h2>
    <h3>Patient: {{ appointmentService.appointment.patient }}</h3>
    <h3>Category: {{ appointmentService.appointment.category }}</h3>
    <h3>Requested Physician: {{ appointmentService.appointment.doctor }}</h3>
    <h3>Appointment Date: {{ appointmentService.appointment.date.substring(0, 10) }}</h3>
    <h3 *ngIf="appointmentService.appointment.status == 'Approved'">
      Appointment Time: {{ appointmentService.appointment.date.substring(11, 16) }}
    </h3>
  </div>

  <div *ngIf="appointmentService.appointment.status == 'Pending' ||
    appointmentService.appointment.status == 'Requested for Reschedule'">

    <div class="form-approval-container">
      <form (ngSubmit)="appointmentService.manageAppointment(approvalForm, appointmentStatus)" #approvalForm="ngForm">
        <input id="time" name="appointmentTime" type="time" ngModel>
        <p>{{ appointmentService.prompt }}</p>

        <div class="button-container">
          <input type="submit" class="submit-buttons approve" (click)="appointmentVerdict('Approved')" value="APPROVE">
          <input type="submit" class="submit-buttons reject" (click)="appointmentVerdict('Rejected')" value="REJECT">
        </div>
      </form>
    </div>

  </div>

  <div *ngIf="appointmentService.appointment.status == 'Requested for Cancellation'">
    <div class="form-approval-container">
      <p>{{ appointmentService.prompt }}</p>

      <div class="button-container">
        <button class="submit-buttons approve" (click)="appointmentService.appointmentCancellation('Approved')">
          APPROVE CANCELLATION
        </button>

        <button class="submit-buttons reject" (click)="appointmentService.appointmentCancellation('Rejected')">
          REJECT CANCELLATION
        </button>
      </div>
    </div>
  </div>
</div>
<app-staff-navbar></app-staff-navbar>
