@media (max-width: 768px) {
  .clinics-container {
    margin: 3% 3%;
  }

  .clinic {
    width: 100%;
  }

  .clinics {
    display: block;
  }
}

@media (min-width: 768px) {
  .clinics-container {
    margin-left: 20%;
  }

  .clinics-description h1{
    font-size: 50px;
  }

  .clinic {
    max-width: 35%;
  }

  .clinics {
    display: flex;
    flex-wrap: wrap;
  }
}

.clinics-container {
  animation: entrance .3s ease-in;
}

.clinics-description h1{
  font-family: Bebas Neue;
  color: #707070;
}

.clinics-description p {
  font-family: Bahnschrift;
  color: #707070;
}

.search {
  margin-top: 3%;
  text-align: center;
}

.search input {
  width: 50%;
}

#submit-button {
  width: 10%;
}

.clinics {
  margin-top: 5%;
}

.clinic {
  height: 300px;
  margin: 3%;
  flex: 1 0 30%;
}

.clinic-image {
  margin-left: -2px;
  margin-top: -2px;
  height: 150px;
  width: 100.5%;
  border: 1px solid #707070;
}

.clinic-description-container {
  margin-left: -2px;
  background-color: #76BF69;
  height: 50%;
  width: 100.5%;
  border: 1px solid #76BF69;
  font-family: Bahnschrift;
}

.clinic-description {
  padding: 2% 5%;
}

.clinic-description h2, p{
  color: white;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
