<div class="clinics-container">
  <div class="clinics-description">
    <h1>CLINICS</h1>
    <p>Here are the clinics that are operating within Olongapo City.
      You may make your appointment by selecting your desired clinic.</p>
  </div>

  <div class="search">
    <form (ngSubmit)="clinicsService.searchClinic(searchForm)" #searchForm="ngForm">
      <input type="text" name="searchClinic" placeholder="ENTER CLINIC NAME HERE..." ngModel required>
      <input type="submit" value="SEARCH" id="submit-button">
    </form>
  </div>

  <div class="clinics">
    <div class="clinic" *ngFor="let clinic of clinicsService.clinics" (click)="accessClinic(clinic.id)">
      <div class="clinic-image"></div>
      <div class="clinic-description-container {{ clinic.name }}">
        <div class="clinic-description">
          <h2>{{ clinic.name }}</h2>
          <p *ngIf="clinic.description.length > 80">{{ clinic.description.substring(0, 80)}}...</p>
          <p *ngIf="clinic.description.length <= 80">{{ clinic.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
