<div class="clinics-container">
  <div class="clinics-description">
    <h1>CLINICS</h1>
    <p>Here are the clinics that are operating within Olongapo City.
      You may make your appointment by selecting your desired clinic.</p>
  </div>

  <div class="search">
    <input type="text" placeholder="ENTER CLINIC NAME HERE...">
    <button>SEARCH</button>
  </div>

  <div class="clinics">
    <!-- SAMPLE CONTENT ONLY, CHANGE THIS ONCE API HAS BEEN FINISHED -->
    <div class="clinic" *ngFor="let clinic of clinicsService.clinics">
      <div class="clinic-image"></div>
      <div class="clinic-description-container">
        <div class="clinic-description">
          <h2>{{ clinic.name }}</h2>
          <p>{{ clinic.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
