@media (max-width: 768px) {
  .associate-container {
    margin: 3% 3% 10% 3%;
  }

  .clinic {
    width: 100%;
    margin: 3% 0;
  }

  .clinics {
    display: block;
  }

  .search input {
    width: 60%;
  }

  #submit-button {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .associate-container {
    margin-left: 20%;
  }

  .description h1{
    font-size: 50px;
  }

  .clinic {
    max-width: 35%;
    margin: 3%;
  }

  .clinics {
    display: flex;
    flex-wrap: wrap;
  }

  .search input {
    width: 50%;
  }

  #submit-button {
    width: 10%;
  }

  #associate-button {
    height: 40px;
  }
}

.associate-container {
  font-family: Bahnschrift;
  color: #707070;
}

.associate-container {
  animation: entrance .3s ease-in;
}

.description h1{
  font-family: Bebas Neue;
  color: #707070;
}

.description p {
  font-family: Bahnschrift;
  color: #707070;
}

.description hr {
  margin-right: 3%;
}

.search {
  margin-top: 3%;
  text-align: center;
}

.search input {
  height: 40px;
}

#submit-button {
  font-family: Bahnschrift;
  font-weight: 700;

  height: 46px;
  background: #232E21;
  color: white;
  border: 1px solid #232E21;
  transition: background-color .3s, color .3s, border .3s;
}

#submit-button:hover {
  background-color: #0EAFE9;
  border: 1px solid #0EAFE9;
}

.clinics {
  margin-top: 5%;
}

.clinic {
  height: 300px;
  flex: 1 0 30%;
}

.clinic-image {
  margin-left: -2px;
  margin-top: -2px;
  height: 150px;
  width: 100.5%;
  border: 1px solid #707070;
}

.clinic-description-container {
  margin-left: -2px;
  background-color: #0EAFE9;
  height: 50%;
  width: 100.5%;
  border: 1px solid #0EAFE9;
  font-family: Bahnschrift;
}

.clinic-description {
  color: white;
  padding: 2% 5%;
}

.associate-button-container {
  text-align: center;
}

#associate-button {
  width: 40%;
  color: white;
  font-weight: 700;
  background-color: #232E21;
  border: 1px solid #232E21;
  border-radius: 10px;
  transition: color .3s, background-color .3s, border .3s;
}

#associate-button:hover {
  background-color: white;
  border: 1px solid white;
  color: #232E21;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
