<div class="container">
    <div class="footer-content">
      <div class="footer-text">
        <h2>CLINIC APPOINTMENT SYSTEM</h2>
        <p>A system developed for the use of local clinics and patients alike,</p>
        <p>Developed by PHOENIX DOWN - GORDON COLLEGE CCS.</p>
      </div>

      <div class="contact-info">
        <h4>CONTACT</h4>
        <p>E-Mail: <span>phoenixdownclinics@gmail.com</span></p>
        <p>Phone: <span>09338698794</span></p>
        <p>Address: <span>#5 Dela Cruz Drive Extension, East Tapinac, Olongapo City</span></p>
      </div>

      <div class="navigation">
        <h4>PAGES</h4>
        <p routerLink="/">HOME</p>
        <p routerLink="/login">PATIENT PORTAL</p>
        <p routerLink="/signUp/patient">PATIENT SIGN-UP</p>

        <p routerLink="/staff/login">STAFF PORTAL</p>
        <p routerLink="/signUp/staff">STAFF SIGN-UP</p>
      </div>
    </div>

    <div class="bottom-content">
      <p>A SOFTWARE ENGINEERING PROJECT</p>
      <p>2021</p>
    </div>
</div>
