<app-navbar></app-navbar>
<div class="container">
    <div class="header">
        <h1>COMPOSE MESSAGE</h1>
        <p>Type your message in the space provided below</p>
    </div>

    <div class="content">
      <form (ngSubmit)="messageService.sendMessage(messageForm)" #messageForm="ngForm">
        <div id="recipient-container">
          <label>
            RECIPIENT:
            <input type="text" name="recipient" ngModel required id="recipient">
          </label>
        </div>
        <div id="message-content-header">
          <label>
            MESSAGE CONTENT:
            <textarea name="messagecontent" id="message-content-container" cols="30" rows="10" ngModel required></textarea>
          </label>
        </div>
        <div class="btn">
          <input type="submit" class="send-btn" value="SEND">
        </div>
      </form>
    </div>
</div>
