<div class="navbar">
  <div class="user-content">
    <div id="user-profile"></div>
    <h3>{{ username }}</h3>
    <hr>
  </div>

  <div class="pages">
    <ul class="page-links">
      <li class="page-link"><a routerLink="/appointments">MY APPOINTMENTS</a></li>
      <li class="page-link"><a routerLink="">NOTIFICATIONS</a></li>
      <li class="page-link"><a routerLink="/clinics">CLINICS</a></li>
      <li class="page-link"><a routerLink="/messages">MESSAGES</a></li>
      <li class="page-link"><a routerLink="/account">ACCOUNT</a></li>
    </ul>
  </div>

  <div class="signout-container">
    <button id="sign-out-button" (click)="loginService.signOut()">SIGN OUT</button>
  </div>
</div>
