<app-navbar></app-navbar>
<div class="messages-container">
    <div class="messages-header">
        <div class="messages-header-title">
            <h1>MESSAGES</h1>
        </div>
        <div class="messages-header-text">
            <p>Your most recent messages are listed below.</p>
        </div>
    </div>
    <div class="messages-navigation">
        <div>
            <button class="inbox-button">INBOX</button>
        </div>
        <div>
            <button class="compose-button">COMPOSE</button>
        </div>
    </div>
    <div class="messages-inbox-container">

    </div>
</div>
