<div class="messages-container">
    <div class="messages-header">
        <div class="messages-header-title">
            <h1>INBOX</h1>
        </div>
        <div class="messages-header-text">
            <p>Your most recent messages are listed below.</p>
        </div>
    </div>
    <div class="messages-navigation">
        <button class="nav-button">INBOX</button>
        <button class="nav-button" routerLink="/messages/sent">SENT</button>
        <button class="nav-button" (click)="accessCompose()">COMPOSE</button>
    </div>
    <div class="inbox-container">
        <div class="message" *ngFor="let message of messageService.messages">
            <a (click)="messageService.getMessageId(message.id, 'receive')">
                <div class="div-width-100">
                    <ul>
                        <li class="message-info">
                            <span id="message-sender">{{ message.sender }}</span><br>
                            <span id="message-content">"{{ message.content.substring(0, 45) }}..."</span>
                        </li>
                        <li class="message-date">
                            <span id="message-date">{{ message.date.substring(0,10) }}</span>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
<app-mobile-navbar></app-mobile-navbar>
<app-navbar></app-navbar>
