.messages-container{
    font-family: Bahnschrift;
    color: #707070;

    margin-left: 25%;
    margin-right: 5%;
}

/* messages header contents */
.messages-header-title h1{
    font-family: Bebas Neue;
    font-size: 50px;
}

/* messages navigation */
.messages-navigation{
    display: flex;
    flex: row;
}
.messages-navigation button{
    background-color: transparent;
    border: none;

    font-family: Bahnschrift;
    font-weight: 600;
    font-size: large;
    color: #707070;
}
.messages-navigation div{
    padding: 1% 4% 1% 0%;
}

/* messages inbox container */
.messages-inbox-container{
    border: 1px solid #707070;
    height: 400px;
    overflow: scroll;
}


/* mobile responsive design */
@media (max-width: 768px) {
    .messages-container{
        margin: 0;
    }
}
