.container{
    font-family: Bahnschrift;
    color: #fff;

    margin: 0;
    background-color: transparent;
    position: relative;
    width: 101%;
    margin: 0% -.6%;
}

ul{
    position: relative;
    text-align: right;
    margin: 0;
    padding-bottom: 2%;
}
li{
    display: inline-block;
    padding-right: 5%;
    padding-top: 2%;
    padding-left: 2%;

    font-weight: 600;
    font-size: 1em;
}

a {
  text-decoration: none;
  color: white;
  transition: .3s;
}
a:hover{
    color: #32d800;
}

#navbar-text{
    float: left;
    padding-left: 2%;
}

/* mobile responsive design */
@media (max-width: 768px){
    #navbar-text{
        display: none;
    }
}
