<div class="clinic-container">
  <div class="clinic-description">
    <h1>{{ staffService.assignedClinic.name }}</h1>
    <a routerLink="/staff/assignedClinics"><h4>RETURN TO CLINICS PAGE</h4></a>
  </div>

  <div class="clinic-details">
    <div class="clinic-image"></div>
    <div class="clinic-schedules">
      <h2>OPERATING HOURS</h2>
      <h3>{{ staffService.assignedClinic.operationStart }} - {{ staffService.assignedClinic.operationEnd }}</h3>
      <h3>{{ staffService.assignedClinic.startDay }} - {{ staffService.assignedClinic.endDay }}</h3>
      <hr id="detail-divider">
      <h2>CONTACT</h2>
      <h3>{{ staffService.assignedClinic.contact }}</h3>
      <h3>{{ staffService.assignedClinic.email }}</h3>
    </div>
  </div>

  <div class="clinic-interactions">
    <button class="interactions-btn" routerLink="/staff/assignedClinics/{{ staffService.assignedClinic.id}}/appointments">
      ALL APPOINTMENTS
    </button>
    <button class="interactions-btn">ALL INQUIRIES</button>
  </div>

  <div class="clinic-general-description">
    <p>{{ staffService.assignedClinic.description }}</p>
  </div>

  <div class="clinic-additional-information">
    <h2>ADDITIONAL INFORMATION</h2>
    <hr id="info-divider">
    <div class="address-container">
      <h3>ADDRESS</h3>
      <p>{{ staffService.assignedClinic.address }}</p>
    </div>

    <div class="staff-container">
      <h3>STAFF</h3>
      <div *ngFor="let member of staffService.staff" class="staff-info">
        <p>{{ member.role}} {{ member.user }}</p>
        <ul *ngFor="let specialty of member.specialization">
          <li>{{ specialty }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-staff-navbar></app-staff-navbar>
